$primary: #ff9191;
$bg-color: #242424;
$red: #d14848;
$green: #48d15f;

@mixin button($color: white) {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.1rem;
    padding: 10px 15px;
    margin: 2px 5px;

    color: $color;

    border: solid 1px $color;
    border-radius: 20px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

@mixin icon($icon-size: 22px, $hover-color: $bg-color) {
    fill: $bg-color;
    width: $icon-size;
    height: $icon-size;
    &:hover {
        fill: $hover-color;
    }
}
