@use '../../styles/globals.scss' as *;

$dialog-border-radius: 10px;

.dialog {
    border: none;
    background-color: rgba(0, 0, 0, 0);

    .dialogWrapper {
        display: flex;
        background-color: $bg-color;
        border-radius: $dialog-border-radius;

        .column {
            width: 10px;
            background-color: $red;
            border-radius: $dialog-border-radius 0 0 $dialog-border-radius;
        }
        .content {
            display: flex;
            flex-direction: column;
            padding: 20px;

            .titleWrapper {
                display: flex;
                align-items: center;
                .icon {
                    width: 32px;
                    height: 32px;
                    fill: $red;
                }
                .title {
                    margin: 0;
                    margin-left: 10px;
                    max-width: 300px;
                }
            }
        }

        .confirmBtn {
            @include button($red);
            margin-left: 0;
        }
        .btn {
            @include button();
        }
    }
}
