@use '../../styles/globals.module.scss' as *;

$pad: 10px 20px;

.tableTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: $pad;

    .detailsTitle {
        display: flex;
        justify-content: space-evenly;
        width: 22%;
        margin-right: 25px;
    }
}

.detailsWrapper {
    background-color: lighten($bg-color, 80%);
    color: $bg-color;
    width: 100%;
    max-width: 94vw;

    margin: 10px 0;

    overflow: hidden;
    border-radius: 4px;

    user-select: none;

    cursor: pointer;

    .titleWrapper {
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        padding: $pad;

        .titleform {
            display: flex;
            align-items: center;

            .titleInput {
                background-color: rgba(0, 0, 0, 0);
                color: $bg-color;
                font-weight: bold;
                font-size: 1.05rem;
                border: solid black 2px;
                border-radius: 4px;
                outline: none;

                &:disabled {
                    border: solid rgba(0, 0, 0, 0) 2px;
                    pointer-events: none;
                    -webkit-user-select: none;
                    user-select: none;
                }
            }

            .iconWrapper {
                display: flex;
                align-items: center;
                .icon {
                    @include icon(22px, $primary);
                    opacity: 0;
                    margin: 0 10px;
                }
            }

            .confirmCancelIcons {
                display: flex;
                align-items: center;

                .iconWrapper {
                    .confirm {
                        @include icon(22px, $green);
                        margin: 0 3px;
                    }
                    .cancel {
                        @include icon(22px, $red);
                        margin: 0 3px;
                    }
                }
            }
        }
    }
    .titleInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 20%;

        .created {
            opacity: 0.7;
        }

        .iconWrapper {
            display: flex;
            align-items: center;

            .deleteIcon {
                $icon-size: 22px;
                width: $icon-size;
                height: $icon-size;
                opacity: 0;
                fill: $bg-color;

                &:hover {
                    fill: $red;
                }
            }
        }
    }
    .details {
        background-color: lighten($bg-color, 90%);
        padding: $pad;
    }

    &:hover {
        .titleInfo {
            .deleteIcon {
                opacity: 1;
            }
        }

        .titleWrapper {
            .titleform {
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

// Removes the arrow from the details summary tag
summary {
    list-style: none;
}
