@use '../../styles/globals.scss' as *;

$pad: 10px 20px;

.tableTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: $pad;

    .detailsTitle {
        display: flex;
        justify-content: space-evenly;
        width: 22%;
        margin-right: 25px;
    }
}

.detailsWrapper {
    background-color: lighten($bg-color, 80%);
    color: $bg-color;
    width: 100%;
    max-width: 94vw;

    margin: 10px 0;

    overflow: hidden;
    border-radius: 4px;

    .titleWrapper {
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        padding: $pad;

        cursor: pointer;
    }
    .titleInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 20%;

        .created {
            opacity: 0.7;
        }

        .deleteIcon {
            $icon-size: 22px;
            width: $icon-size;
            height: $icon-size;
            opacity: 0;
            fill: $bg-color;

            &:hover {
                fill: $red;
            }
        }
    }
    .details {
        background-color: lighten($bg-color, 90%);
        padding: $pad;
    }

    &:hover {
        .titleInfo {
            .deleteIcon {
                opacity: 1;
            }
        }
    }
}

// Removes the arrow from the details summary tag
summary {
    list-style: none;
}
