@use '../../styles/globals.module.scss' as *;

$dialog-border-radius: 10px;

.dialogWrapper {
    border: none;
    background-color: rgba(0, 0, 0, 0);

    .contentWrapper {
        display: flex;
        background-color: $bg-color;
        border-radius: $dialog-border-radius;

        .column {
            width: 10px;
            background-color: $red;
            border-radius: $dialog-border-radius 0 0 $dialog-border-radius;
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .titleWrapper {
                display: flex;
                align-items: center;
                .icon {
                    width: 32px;
                    height: 32px;
                    fill: $red;
                }
                .title {
                    margin: 0;
                    margin-left: 10px;
                }
            }
        }

        .form {
            .btn {
                @include button();
            }
        }
    }

    &:focus {
        outline: none;
    }
}
